<!-- PRICING -->
<section id="pricing" class="section">
    <div class="container">
        <h2 class="text-center fw-bold mb-5">Pricing Plans</h2>

        <div class="row g-4">
            {% for plan in plans %}
            <div class="col-md-4">
                <div class="card pricing-card h-100 text-center p-4">
                    <h4>Beginner Track</h4>
                    <a href="" class="btn btn-primary mt-3">
    Enroll Beginner
</a>

                    <h2 class="text-primary fw-bold">₦200,000</h2>
                    <p>16 Weeks • Beginner Friendly</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card pricing-card highlight h-100 text-center p-4">
                    <h4>Intermediate Track</h4>
                    <a href="" class="btn btn-primary mt-3">
    Enroll Intermediate
</a>

                    <h2 class="text-primary fw-bold">₦300,000</h2>
                    <p>10 Weeks • Skill Upgrade</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card pricing-card h-100 text-center p-4">
                    <h4>Advanced Track</h4>
                    <a href="" class="btn btn-primary mt-3">
    Enroll Advanced
</a>

                    <h2 class="text-primary fw-bold">₦450,000</h2>
                    <p>8 Weeks • Real-World Hacking</p>
                </div>
            </div>
        </div>
    </div>
</section>